<div class="header_bottom bottom_four sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="main_menu header_position">
                    <nav>
                        <ul>
                            <li>
                                <a href="{{ 'index.html' | relative_url }}">Inicio</a>
                                <!--deleted ul div sub_menu  -li --->
                            </li>
                            <!--Suzuki-->
                            <li class="mega_items"><a href="{{ 'multirepuestos-cavero-suzuki-parachoques.html' | relative_url }}">Suzuki<i class="fa fa-angle-down"></i></a>
                                <div class="mega_menu">
                                    <ul class="mega_menu_inner">
                                        <li><a href="#">Carroceria</a>
                                            <ul>
                                                <li><a href="{{ 'multirepuestos-cavero-suzuki-parachoques.html' | relative_url }}">Parachoques</a></li>
                                                <li><a href="{{ 'mureca-multirepuestos-cavero-suzuki-mascara.html' | relative_url }}">Mascaras</a></li>
                                                <li><a href="{{ 'mostrar.html' | relative_url }}">Capos </a></li>
                                                <li><a href="{{ 'mureca-productos-filtro.html' | relative_url }}"> filtro</a></li>
                                                <li><a href="{{ 'prueba.html' | relative_url }}">Parabrisas</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Mordajuras</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Asientos</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Vidrios</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Motor</a>
                                            <ul>
                                                <li><a href="{{ 'index.html' | relative_url }}">Radiador</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Pistones</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Anillas</a></li>
                                                <li><a href="{{ '404.html' | relative_url }}">Valbulas</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Electrico</a>
                                            <ul>
                                                <li><a href="{{ 'index.html' | relative_url }}">Stops</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Faroles</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Guiñadores</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Sensores</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Radios</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Retrovisores</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="#">Chasis</a>
                                            <ul>
                                                <li><a href="{{ 'shop.html' | relative_url }}">Amortiguadores</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Caja</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Disco Frenos</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Tambores</a>
                                                </li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Aros</a></li>
                                                <li><a href="{{ 'index.html' | relative_url }}">Bomba Frenos</a></li>
                                                <li><a href="{{ 'index.html.html' | relative_url }}">Direccion</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="banner_static_menu">
                                        <a href="shop.html"><img src="assets/img/bg/banner1.jpg" alt=""></a>
                                    </div>
                                </div>
                            </li>
                            
                            <!--sacamos el blog y todos sus archivos-->
                            <li><a href="{{ 'nosotros.html' | relative_url }}">Nosotros <i class="fa fa-angle-down"></i></a>
                                <ul class="sub_menu pages">
                                    <li><a href="{{ 'nosotros.html' | relative_url }}">nosotros</a></li>
                                    <li><a href="{{ 'servicios.html' | relative_url }}">servicios</a></li>
                                    <li><a href="{{ 'preguntas-frecuentes.html' | relative_url }}">Preguntas frecuentes</a></li>
                                    <li><a href="{{ 'politicas-de-privacidad.html' | relative_url }}"> Polticas de privacidad</a></li>
                                </ul>
                            </li>
                           
                            <li><a href="{{ 'contacto.html' | relative_url }}"> Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>