<!-- JS
============================================ -->
    <!--jquery min js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
    <script src="{{ 'assets/js/vendor/jquery-3.4.1.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/map.js' | relative_url }}"></script>
    <!--popper min js-->
    <script src="{{ 'assets/js/popper.js' | relative_url }}"></script>
    <!--bootstrap min js-->
    <script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
    <!--owl carousel min js-->
    <script src="{{ 'assets/js/owl.carousel.min.js' | relative_url }}"></script>
    <!--slick min js-->
    <script src="{{ 'assets/js/slick.min.js' | relative_url }}"></script>
    <!--magnific popup min js-->
    <script src="{{ 'assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
    <!--jquery countdown min js-->
    <script src="{{ 'assets/js/jquery.countdown.js' | relative_url }}"></script>
    <!--jquery ui min js-->
    <script src="{{ 'assets/js/jquery.ui.js' | relative_url }}"></script>
    <!--jquery elevatezoom min js-->
    <script src="{{ 'assets/js/jquery.elevatezoom.js' | relative_url }}"></script>
    <!--isotope packaged min js-->
    <script src="{{ 'assets/js/isotope.pkgd.min.js' | relative_url }}"></script>
    <!--slinky menu js-->
    <script src="{{ 'assets/js/slinky.menu.js' | relative_url }}"></script>
    <!-- Plugins JS -->
    <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>

    <!-- Main JS -->
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>