{% assign post = include.post %}
{% for post_tag in post.categories %}
   {% assign post_tag_downcase = post_tag | downcase %}
   {% for site_tag in site.product_tags %}
     {% assign site_tag_title = site_tag.handle | downcase  %}
        {% if site_tag_title == post_tag_downcase %}
          <div class="single_product">
               <div class="product_name">
                 <h3><a href="product-details.html">{{ post.titulo }}</a></h3>
                 <p class="manufacture_product"><a href="#">Accesorios</a></p>
               </div>
               <div class="product_thumb">
                    <a class="primary_img" href="product-details.html">
                       <img src="{{ post.image }}" alt="">
                    </a>
                    <a class="secondary_img" href="product-details.html">
                       <img src="{{ post.img }}" alt=""></a>
                    <div class="label_product">
                        <span class="label_sale">{{ post.descuento }}</span>
                    </div>

                    <div class="action_links">
                         <ul>
                            <li class="quick_button"><a href="#" data-toggle="modal"
                                data-target="#modal_box" title="quick view"> <span
                                class="lnr lnr-magnifier"></span></a></li>
                            <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><span
                                class="lnr lnr-heart"></span></a></li>
                            <li class="compare"><a href="compare.html" title="compare"><span
                                 class="lnr lnr-sync"></span></a></li>
                         </ul>
                    </div>
               </div>
             <div class="product_content">
                  <div class="product_ratings">
                      <ul>
                         <li><a href="#"><i class="ion-star"></i></a></li>
                         <li><a href="#"><i class="ion-star"></i></a></li>
                         <li><a href="#"><i class="ion-star"></i></a></li>
                         <li><a href="#"><i class="ion-star"></i></a></li>
                         <li><a href="#"><i class="ion-star"></i></a></li>
                     </ul>
                  </div>
                  <div class="product_footer d-flex align-items-center">
                             <div class="price_box">
                                 <span class="regular_price">{{ post.price }}</span>
                             </div>
                        <div class="add_to_cart">
                             <a href="cart.html" title="add to cart"><span class="lnr lnr-cart"></span></a>
                        </div>
                  </div>
             </div>
          </div>
        {% endif %}
   {% endfor %}  
{% endfor %}