{% case include.icon %}
	{% when "Facebook" %}
        <i class="ion-social-facebook"></i>
	{% when "Instagram" %}
        <i class="ion-social-fa-instagram"></i>
    {% when "LinkedIn" %}
        <i class="ion-social-linkedin"></i>
    {% when "Pinterest" %}
        <i class="ion-social-pinterest"></i>
    {% when "Tumblr" %}
        <i class="ion-social-tumblr"></i>
    {% when "Twitter" %}
        <i class="ion-social-twitter"></i>    
    {% when "YouTube" %}
        <i class="ion-social-youtube"></i>
    {% when "Whatsapp" %}
        <i class="ion-social-whatsapp"></i>
{% endcase %}
