---
layout: default
---
{% for feature in page.features %} 
       {% case feature.handle %}
          {% when 'slider' %}
    <section class="slider_section slider_two mb-50">
        <div class="slider_area owl-carousel">
           {% for subsection in feature.subsections %}
            <div class="single_slider d-flex align-items-center img-fluid" data-bgimg="{{ subsection.image }}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h2>{{ subsection.subtitulo }}</h2>
                                <h1>{{ subsection.titulo }}</h1>
                                <a class="button" href="{{ subsection.boton}}">{{ subsection.boton}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
        <div class="sharethis-sticky-share-buttons"></div>
    </section>
          {% when 'brand_area' %}
    <!--<div class="brand_area mb-42">-->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand_container owl-carousel">
                        {% for subsection in feature.subsections %}
                        <div class="single_brand">
                            <a href="#"><img src="{{ subsection.image }}" alt=""></a>
                        </div>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--{% include producto.html %}-->
    </section>
    {% endcase %}
{% endfor %} 
    


    

    


    