---
layout: breadcrumb
---
{% for feature in page.services %} 
   {% case feature.handle %}
     {% when 'services_gallery' %}    
    <div class="services_gallery mt-32">
        <div class="container">
            <div class="row"> 
                {% for subsection in feature.subsections %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_services">
                        <div class="services_thumb">
                            <img src="{{ subsection.image }}" alt="{{ subsection.description }}">
                        </div>
                        <div class="services_content">
                            <h3>{{ subsection.title }}</h3>
                            <p>{{ subsection.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %} 
            </div>
        </div>
    </div>
     {% when 'our_services' %} 
    <div class="our_services">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="services_title">
                        <h2>{{ feature.title }}</h2>
                        <p>{{ feature.description }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for subsection in feature.subsections %}
                <div class="col-lg-3 col-md-6">
                    <div class="services_item">
                        <div class="services_icone">
                            <i class="fa {{ subsection.icon }}" {% if forloop.first %}
                                 aria-hidden="true"  {%else%} '' {%endif%}></i>
                        </div>
                        <div class="services_desc">
                            <h3>{{ subsection.title }}</h3>
                            <p>{{ subsection.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
     {% when 'unlimited_services' %}    
    <div class="unlimited_services">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services_section_thumb">
                        <img src="{{ feature.image }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="unlimited_services_content">
                        <h1>{{ feature.title }}</h1>
                        <p>{{ feature.description }} </p>
                        <div class="view__work">
                            <a href="#">MORE INFO <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--delete priceing_table div  here-->
    <!--delete advantages_ecommerce div  here-->
    {% endcase %}
{% endfor %}   

    